.digital-art-section {
  background-color: #122033;
  padding: 60px;
  display: flex;
  gap: 20px;
}

.digital-art-left-section {
  flex: 9;
}

.digital-art-left-section img {
  width: 100%;
  margin-bottom: 20px;
}

.digital-art-right-section {
  flex: 11;
}

.digital-art-right-section img {
  width: 100%;
  margin-bottom: 20px;
}

.digital-art-marble {
  display: flex;
  gap: 20px;
}

.digital-art-marble div {
  flex: 1;
}

.digital-art-marble div img {
  height: 100%;
}