.fruno-description-section {
  display: flex;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  color: white;
  font-size: 36px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.fruno-description-section img {
  z-index: 5;
}

.fruno-description-subsection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fruno-description-text {
  padding-right: 100px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.fruno-description-cards img {
  margin-bottom: 30px;
  width: min(700px, 100%);
}

.fruno-rainbow-chard-section {
  display: flex;
  align-items: center;
}

.fruno-rainbow-chard-section img {
  width: 250px;
}

.fruno-disclaimer-card {
  width: 375px;
  margin-bottom: 40px;
}

.fruno-full-deck {
  padding-left: 60px;
  margin-top: 80px;
  z-index: 5;
}

.fruno-full-deck img {
  width: 100%;
}
