.yibyo-description-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f7f2ec;
}

.yibyo-description-bottom-divider {
  flex: 0 0 1.125rem;
  width: 100%;
  background: #464296;
}
