.yibyo-description-page {
  min-height: 100vh;
  background: #f7f2ec;
}

.yibyo-description-bottom-divider {
  width: 100%;
  height: 1.125rem;
  background: #D2ACD1;
}

.yibyo-typography-top-divider {
  width: 100%;
  height: 1.125rem;
  background: #D2ACD1;
}

.yibyo-typography-bottom-divider {
  width: 100%;
  height: clamp(3.75rem, 5vw, 4.45rem);
  background: #D2ACD1;
}
